@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

/* Para fijar el footer con flex en el fondo */
body{ 
  display:flex; 
  flex-direction:column; 
}


:root {
  --yellow: #f0db4f;
  --dark: #323330;
  --online: #52AF7F;
  --offline: #FF0000;
}

html {
  font-family: 'Spartan', sans-serif;
}

.main-nav li a {
  color: var(--yellow);
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header,
.footer {
  width: 100%;
}

.header {
  background-color: var(--yellow);
}

.main {
  width: auto;
  height: auto;
}

.header-title_container,
.footer-menu_container,
.footer-menu_container2{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.header-title_container {
  justify-content: center;
}

.main-flex_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -110%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.main-nav {
  height: 100%;
  width: 100%;
}

.main-nav li {
  font-size: 1.5em;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav li a:hover {
  background-color: var(--yellow);
  color: var(--dar);
  transition: 0.65s;
}

.header-title {
  margin: 0;
}

.toggle-menu {
  left: 0;
  transition: 0.3s ease-in-out;
}

.main-flex_section {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: var(--dark);
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 1;
}

/* Para fijar el footer con flex en el fondo */
.footer {
  height: 10vh;
  text-align: center;
  color: white;
  background-color: var(--dark);
}

.footer-menu_container,
.footer-menu_container2 {
  position: fixed;
  z-index: 999;
  width: auto;
  height: auto;
  bottom: 12px;
} 

.footer-menu_container {
  right: 12px;
}

.section-flex,
.movement-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movement-flex {
  width: 100%;
  height: 100%;
}

.cuadro{
  /* width: 70%;
  height: 50%;
  background-color: var(--dark); */
  display: flex;
  width: 70%;
  min-height: 50vh;
  background-color: var(--dark);
}

.circulo {
  /* display: inline-block;
  width: 45px;
  height: 45px;
  
  background-color: var(--yellow);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--yellow)
}

.arrow {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 48px;
  width: 48px;
  outline: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.footer-menu_container2 {
  left: 12px;
  justify-content: center;
  margin: auto;
}

.dark-mode-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  outline: none;
  cursor: pointer;
  background-color: var(--yellow);
  color: #fff;
}

.flex-gran_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.dark-mode {
  background-color: var(--dark);
  color: var(--yellow);
}

.active-dark {
  background-color: #222222;
  color: var(--yellow);
}

.map-container iframe,
.video-container iframe{
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
}

.submit {
  margin: 10px 0 0;
}

.online,
.offline {
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

}

.online {
  background-color: var(--online);
}

.offline {
  background-color: var(--offline);
}

.online p,
.offline p {
  margin: 0;
}

.filtro {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: var(--dark);
  color: var(--yellow);
  transition: all 0.3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter {
  height: auto;
}

.no-search {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}

.winner {
  background-color: var(--online);
  color: white;
}

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

#rslider {
  height: auto;
  width: 100%;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}

.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  columns: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
      "header header"
      "main aside"
      "footer footer";
  }
  
  .header {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
  }

  .aside {
    grid-area: aside;
    position: sticky;
  }

  .footer {
    grid-area: footer;
  }
  
  .panel-btn {
    display: none;
  }

  .main-flex_container {
    position: sticky;
    height: inherit;
    top: 0;
    left: 0;
    display: inline-block;
  }

  .menu {
    position: sticky;
    width: auto;
  }

  .main-nav {
    position: sticky;
  }

  .main-nav li {
    height: 4rem;
  }

  .main-nav li a {
    justify-content: flex-end;
    text-align: right;
    font-size: 1rem;
    padding: 0.75rem;
  }

  .footer-menu_container {
    right: initial;
    left: calc(4.5rem + 1vw);
  }

  .main-nav li a.active-menu {
    background-color: var(--yellow);
    color: var(--dar);
    transition: 0.65s;
  }
}

.video-green {
  max-width: 80%;
}

.sect-validation {
  width: 100%;
}

.v-form {
  /* height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.v-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.v-form textarea {
  resize: none;
}

.contact-form_response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.v-form textarea,
.v-form input {
  font-size: 1rem;
}

.v-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.v-form [required]:valid {
  border: thin solid var(--form-ok-color)
}

.v-form [required]:invalid {
  border: thin solid var(--form-error-color)
}

.v-form_error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.v-form_error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

/* .sect-validation {
  height: 100%;
  width: 70%;
}

.form-sbm {
  width: 80%;
  align-self: center;
} */

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.form-speech {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.form-speech > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.form-speech input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}
